@page "/"

<h1>Todo Sample</h1>

<TodoList Todos="@todos"></TodoList>

@functions {
    IList<Todo> todos = new List<Todo>
    {
        new Todo{Text="Watch videos about Blazor"},
        new Todo{Text="Create own Blazor app"}
    };
}
