<div class="input-group input-group-lg">
    <div class="input-group-append">
        <button class="btn btn-secondary @buttonDisabled" onclick="@DelItem">Delete Todo Item</button>
    </div>
</div>

@functions{
    [Parameter]
    IList<Todo> Todos { get; set; }

    string buttonDisabled => Todos.Any(x => x.Done) ? null : "disabled";

    void DelItem()
    {

    }
}
